{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Random Palette</title>
     <link rel="stylesheet" type="text/css" href="{% static 'ColorApp/style.css' %}">
     <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </head>
    <body>
        <h1>Random Palette</h1>
        <h1>Model:{{model|title}}</h1>
        <div class="palette-container">
            {% for color in palette %}
            <div class="color-item">
                <div class="color-block" onclick="handleColorBlockClick('{{ color.hex }}')" style="background-color: rgb({{ color.rgb.0 }}, {{ color.rgb.1 }}, {{ color.rgb.2 }});">
                    <span class="color-code">HEX: {{ color.hex }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    <script src="{% static 'ColorApp/app.js' %}"></script>
</body>
</html>
